<div class="panel panel-default">
	<div class="panel-heading">PRODUCT EDITION</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4 text-center">
				<label for="image">
					<img src="/assests/images/cloud-upload.jpg" style="max-width: 100%;height:100% ;" alt="">
				</label>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Name</div>
						<input ng-model="form.name" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<div>Price</div>
						<input ng-model="form.price" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Image</div>
						<input type="file" class="form-control" id="image">
					</div>
					<div class="form-group col-sm-6">
						<div>Category</div>
						<select ng-model="form.category.id" class="form-control">
							<option value="id">Name</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<div>Create Date</div>
						<input ng-model="form.createDate" type="date" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<div>Available</div>
						<div class="form-control">
							<label class="radio-inline">
								<input ng-model="form.available" type="radio" ng-value="true" name="available">Yes
							</label>
							<label class="radio-inline">
								<input ng-model="form.available" type="radio" ng-value="false" name="available">No
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel-footer text-center">
	<button class="btn btn-primary">
		<b class="glyphicon glyphicon-plus"></b>Create
	</button>
	<button class="btn btn-primary">
		<b class="glyphicon glyphicon-plus"></b>Update
	</button>
	<button class="btn btn-primary">
		<b class="glyphicon glyphicon-plus"></b>Delete
	</button>
	<button class="btn btn-primary">
		<b class="glyphicon glyphicon-plus"></b>Reset
	</button>
</div>